<div class="div-my-header">
            <div>
                <img src="assets/images/logo.png"  class="center" style="width:419px;height:61px;">
            </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">
                <a class="text-my-link"  href="home">HOME</a>
            </div>
            <div class="col-sm-1" >
                <a class="text-my-link"  href="about">ABOUT</a>
            </div>
            <div class="col-sm-1">
                <a class="text-my-link"  href="blog">BLOG</a>
            </div>
            <div class="col-sm-1">
                <a class="text-my-link"  href="contact">CONTACT</a>
            </div>
        </div>
</div>
