<div class="div-my-header">
        <div class="row">
            <div class="col-sm-2" style="padding-left:35%">
                <img src="assets/images/logo.png"  style="width:419px;height:61px;">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="padding-left:35%">
                <a class="text-my-link" style="padding-left:3%" href="about">ABOUT</a>
                <a class="text-my-link" href="blog">BLOG</a>
                <a class="text-my-link" href="contact">CONTACT</a>
            </div>
        </div>
</div>
