/* You can add global styles to this file, and also import other style files */
div.div-my-bg {
    background-image: url("assets/images/bg-fresh.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;;
}


div.div-my-footer {
    padding-top:10%;
    padding-bottom:5%;
}

div.div-my-header {
    padding-top: 5%;
    padding-bottom:6%;
}

div.text-my-default {
    font-family:candara;
    font-size:x-large;
    padding-left: 30%;
    padding-right:30%;
    color:rgb(240, 240, 255);
    float:right;
}

div.copyright {
    font-family:candara;
    font-size:large;
    color:rgb(240, 240, 255);
    padding-right:3%;
}

a.text-my-link {
    color:rgb(240, 240, 255);
    font-family:candara;
    font-size:x-large;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 2%;
}